<ion-header>
  <ion-toolbar color="secondary" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons collapse="true" slot="end">
      <ion-button><a routerLink="/login" >
      <img src="../../assets/logout.png" width="30" height="15"> </a> </ion-button>
    </ion-buttons> 
    <ion-title>Add Provider</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div style="padding-top: 30px;" >
    <ion-card align="center"  >
      <ion-card-header>
       
  
        <ion-card-title>  <h1 style="color:rgb(115, 170, 241)">Add Provider </h1></ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
  <form #myform="ngForm" (ngSubmit)="createProvider(myform)" >
   
    <ion-item >
      <ion-label>Provider Name</ion-label>
      <ion-input ngModel name="providerName"  type="text" id="providerName" placeholder="Enter Name"  ></ion-input>
    </ion-item>
    <ion-item >
      <ion-label>Provider Email</ion-label>
      <ion-input ngModel name="providerEmail"  type="text" id="providerEmail" placeholder="Enter Email"   ></ion-input>
    </ion-item>
    <ion-item >
      <ion-label>Provider Address</ion-label>
      <ion-input  type="text" ngModel name="providerAdress"  id="providerAdress"  placeholder="Enter Address" ></ion-input>
    </ion-item>
    <ion-item >
      <ion-label>Provider Logo</ion-label>
      <ion-input  type="file" ngModel name="providerImage"  id="providerImage" (change)="onFileChanged($event)" placeholder="Enter Logo" ></ion-input>
    </ion-item>

    
   
   <br>
    <ion-button type="submit"  expand="block"  style="margin: 4%;">Add Provider</ion-button>
  </form></ion-card-content></ion-card>
</div>
</ion-content>
<ion-footer>
  <ion-toolbar color="secondary">
  <ion-title align="center">©2021</ion-title>
  </ion-toolbar>
  </ion-footer>