<ion-header >
  <ion-toolbar color="secondary" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <ion-card-header>
    <ion-card-subtitle>Welcome to our Article Managment
      System </ion-card-subtitle>
    </ion-card-header>
    
    </ion-card>
  
</ion-content>
<ion-footer>
  <ion-toolbar color="secondary">
  <ion-title align="center">©2021</ion-title>
  </ion-toolbar>
  </ion-footer>