<ion-header>
  <ion-toolbar color="secondary" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons collapse="true" slot="end">
      <ion-button><a routerLink="/login" >
      <img src="../../assets/logout.png" width="30" height="15"> </a> </ion-button>
    </ion-buttons> 
    <ion-title>Articles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div style="padding-top: 0px;" >
  
        <h1 style="color:rgb(115, 170, 241)">List of Articles</h1>
  <ion-list>
    
  <ion-item *ngFor="let a of articles">
 
    <ion-label id="l">
      <img src="http://127.0.0.1:8080/images/article/{{a.picture}}"  with="6%" height="5%">
    </ion-label>
    <ion-label>
      <h2>{{a.label}}</h2>
      <p>{{a.provider.name}}</p>
      <p>{{a.price}}</p>
      <div  >
      <ion-button (click)="updateArticle(a)"   color="warning"  *ngIf="loginService.srole=='Admin' || loginService.srole=='Superadmin'">Edit</ion-button>
      <ion-button (click)="deleteArticle(a)"  color="danger" *ngIf="loginService.srole=='Admin' || loginService.srole=='Superadmin'">Delete</ion-button>
      </div>
    </ion-label>
  </ion-item>
</ion-list>
</div>
</ion-content>
<ion-footer>
  <ion-toolbar color="secondary">
  <ion-title align="center" >©2021</ion-title>
  </ion-toolbar>
  </ion-footer>
