<ion-header>
  <ion-toolbar color="secondary" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Providers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header  align="center">
      <h1 align="center" style="color:rgb(115, 170, 241)">List of Providers</h1>
    </ion-list-header>
  <ion-item *ngFor="let p of providers">
 
    <!--ion-avatar slot="start">
      <img src="">
    </ion-avatar-->
    <ion-label>
      <h2>{{p.name}}</h2>
      <p>{{p.email}}</p>
      <p>{{p.address}}</p>
      <ion-button (click)="updateProvider(p)"  color="warning">Edit</ion-button>
      <ion-button (click)="deleteProvider(p)"  color="danger">Delete</ion-button>
    </ion-label>
  </ion-item>
</ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar color="secondary">
  <ion-title align="center" >©2021</ion-title>
  </ion-toolbar>
  </ion-footer>
